apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: dev-env
  labels:
    app: frontend
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - name: http
      port: 3000
      targetPort: http
      protocol: TCP
