apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: dev-env
  labels:
    app: backend
spec:
  type: ClusterIP
  selector:
    app: backend
  ports:
    - name: http
      port: 8000
      targetPort: http
      protocol: TCP
